/* 
=====================================
            VARIABLES
=====================================
*/

:root {
  --container-width: min(80vw, 768px);
  --container-handle-width: 50px;
}

/* 
=====================================
        MAIN SLIDER CONTAINER
=====================================
*/
/**********************************
* main <div> with all slider tags *
**********************************/
.slider {
  position: relative;
  width: var(--container-width);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: -7px 5px 16px 1px rgba(56, 86, 122, 0.6);
}

/*****************************
* tag <img> with first image *
*****************************/
.slider__image {
  display: block;
  width: var(--container-width);
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

/**************************************************
* tag <div> with <img> tag (this is second image) *
**************************************************/
.slider__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 50%;
  height: 100%;
  z-index: 1;
  transform: translateZ(0);
}

/******************************
* tag <img> with second image *
******************************/
.slider__wrapper .slider__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/**************************
* input to load own image *
**************************/
.slider__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/*****************
* label to input *
*****************/
.slider__label {
  position: absolute;
  top: 1rem;
  z-index: 3;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 1px;
  user-select: none;
  opacity: 0;
  transition: 0.25s cubic-bazier(0.68, 0.26, 0.58, 1.22);
}

/******************************
* show label when mouse hover *
******************************/
.slider:hover .slider__label {
  opacity: 1;
}

/***********************************
* move "label__befor" to left side *
***********************************/
.slider .slider__label.label__before {
  left: 1rem;
}

/*****************************************************
* move "label__after" to right side and change color *
*****************************************************/
.slider .slider__label.label__after {
  right: 1rem;
  background-color: red;
}

/***********************************************
* <div> responsible for line, circle and icons *
***********************************************/
.slider__handle {
  position: absolute;
  top: 0;
  left: calc(50% - var(--container-handle-width) / 2);
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-selected: none;
  z-index: 2;
}

/***************************************************
* this line is in the center of comprarison slider *
***************************************************/
.slider__line {
  width: 2px;
  flex-grow: 1;
  background-color: #fff;
}

/******************************************************
* this is a circle which is in the middle of the line *
******************************************************/
.slider__circle {
  height: var(--container-handle-width);
  width: var(--container-handle-width);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* 
=====================================
          RESPONSIVE MEDIA 
=====================================
*/

@media (max-width: 768px) {
  /***************************************************
  * change container width when max-width is changed *
  ***************************************************/
  :root {
    --container-width: 90vw;
  }
}
