@import url("https://fonts.googleapis.com/css?family=Raleway");

/* 
=====================================
            GENERAL
=====================================
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* 
=====================================
            HEADER
=====================================
*/
.header {
  position: fixed;
  background-color: aliceblue;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 70px;
}
/* 
=====================================
            LOGO
=====================================
*/
.header__logo {
  position: fixed;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2rem;
  z-index: 1;
}
/* 
=====================================
            NAVBAR
=====================================
*/
.header__navbar {
  position: fixed;
  float: right;
  right: 0;
}

.header__list {
  list-style: none;
  line-height: 50px;
}

.header__link {
  display: inline-block;
  padding: 10px;
}

/*
=====================================
    UNDERLINE COLOR NAVBAR LINKS
=====================================
*/

.header__achron {
  /* WITHOUT position:relative ANIMATE REDLINE DOSEN'T WORK */
  position: relative;
}

/*****************************************
SHOW ANIMATE RED-LINE (FROM LEFT TO RIGHT)
UNDER ARCHONS AFTER HOVER THE MOUSE
*****************************************/

.header__achron::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  right: 0; /* to right */
  background: #f38181;
  transition: width 0.3s, left 0.3s;
}

.header__achron:hover::after {
  width: 100%;
  left: 0; /* from left */
}
/* 
=====================================
            ICONS BURGER
=====================================
      OPEN BURGER ICON ACTIVATE
=====================================
*/
.fa-bars {
  display: none;
  color: #212529;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: aliceblue;
  
  z-index: 100;
}
/* 
=====================================
            ICONS BURGER
=====================================
      CLOSE BURGER ICON ACTIVATE
=====================================
*/
.fa-times {
  display: none;
  color: #212529;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: aliceblue;
}

.toggled nav.header__navbar {
  display: block;
  z-index: 10;
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease;
}
/* 
=====================================
            SECTIONS
=====================================
*/
section {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* 
=====================================
          RESPONSIVE MEDIA 
=====================================
*/
@media (max-width: 700px) {
  .header__navbar {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__list {
    font-size: 2rem;
    font-weight: 400;
  }

  .header__link {
    display: block;
  }

  .fa-bars {
    display: block;
  }
}
