:root {
    --background: linear-gradient(45deg, #02001F, #1F1B4E);
    --text-color: #FF2C75;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    padding-top: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item {
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
/* 
.list-item:hover > .main-text{
    display: none;
} */

.list-item > .split-text {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
}

.list-item:hover > .split-text {
    color: transparent;
}

.list-item:hover > .split-text::before,
.list-item:hover > .split-text::after {
    position: absolute;
    content: attr(data-text);
    height: calc(.5em);
    overflow: hidden;
    left: 0;
    right: 0;
    color: var(--text-color);
}

.list-item:hover > .split-text::before{
    position: absolute;
    content: attr(data-text);
    height: calc(.5em);
    overflow: hidden;
    left: 0;
    right: 0;
    color: var(--text-color);
}
.list-item:hover > .split-text::after {
    bottom: 0;
    display: flex;
    align-items: flex-end;
    transform: skewX(15deg);
    /* animation: skew-left 200ms ease-in-out forwards; */
}

@keyframes skew-left {
    100% {
        transform: skewX(15deg);
    }
}