@import url("https://fonts.googleapis.com/css?family=Raleway");

/* 
=====================================
            GENERAL
=====================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

.header__achron {
  text-decoration: none;
}
/* 
=====================================
            HEADER
=====================================
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
}

.header .header__logo {
  background-color: aqua;
  width: 70px;
  height: 70px;
  position: absolute;
  float: left;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header .header__navbar {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header .header__navbar .header__list {
  padding: 2em;
  list-style: none;
}

.header .header__navbar .header__list .header__link {
  padding: 10px;
}
.header .header__navbar .header__list .header__link .header__achron {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
}
/* 
=====================================
            LOGO
=====================================
*/

/* 
=====================================
            NAVBAR
=====================================
*/

.burger {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.burger__icon {
  top: 50%;
  left: 10%;
  width: 50px;
  height: 6px;
  background-color: #010718;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger__icon::after,
.burger__icon::before {
  top: 15px;
  content: "";
  width: 50px;
  height: 6px;
  background-color: #010718;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger__icon::before {
  top: -15px;
}

/*
=====================================
    UNDERLINE COLOR NAVBAR LINKS
=====================================
*/

/*****************************************
SHOW ANIMATE RED-LINE (FROM LEFT TO RIGHT)
UNDER ARCHONS AFTER HOVER THE MOUSE
*****************************************/

/* 
=====================================
            ICONS BURGER
=====================================
      OPEN BURGER ICON ACTIVATE
=====================================
*/

/* 
=====================================
            TOGGLED
=====================================
*/

/* 
=====================================
            SECTIONS
=====================================
*/
section {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

/* 
=====================================
          RESPONSIVE MEDIA 
=====================================
*/
